* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    width: 1000px;
    /* background-image: url("house.jpg");
    */
    color: #0f172a;
    margin: auto;
    background-image: linear-gradient(#e96443, #904e95);
}

.main-header {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #13c8ff 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 60px;
    margin-left: 120px;

}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.nav-main {
    font-weight: bold;
    display: grid;
    text-decoration: none;
    grid-template-columns: 4.2fr 1fr 1fr 1fr 1fr;
    margin-bottom: 60px;
    margin-top: 50px;
    align-items: center;

}


.nav-main a:link,
:visited {
    text-decoration: none;
    color: #fff;
}

.nav-main a:hover,
:active {
    text-decoration: none;
    color: #0a3d4d;
}

.patil {
    width: 60px;
    margin-right: 100px;

}

.section-first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 100px;

}

.image {
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.divide {
    display: inline-block;
    font-weight: bolder;
}

.mainhead {
    font-size: 62px;
    line-height: 1;
    margin-bottom: 60px;
    font-family: cursive;
}

.mainpara {
    font-size: 20px;
}

.section-last {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 100px;
    justify-items: center;
    align-items: center;
}

svg {
    height: 60px;

}

.zz {
    justify-content: center;
    padding-left: 50px;
}

.aa {
    padding-left: 15px;
}

.ab {
    padding-left: 20px;
}

.ac {
    padding-left: 15px;
}

.ad {
    padding-left: 50px;
}

.one {
    margin-bottom: 30px;
}

.last {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
    justify-items: center;
    align-items: center;
}

.para {
    font-weight: bolder;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    padding: 10px;
    border-radius: 3px;
}

.fa-instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    padding: 10px;
    border-radius: 3px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    padding: 10px;
    border-radius: 3px;
}

.fa-whatsapp {
    background-color: #25d366;
    color: white;
    padding: 10px;
    border-radius: 3px;
}

.social {
    display: flex;
    gap: 30px;
    justify-items: center;
    align-items: center;
}